@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-main: #ffffff; 
    --color-grey: #656160; 
    --color-lightgrey: #d8d8d8; 
    --background-color: #111111; 
    --border-color: #1b1b1b;
    --color-button: #2252f6;
    --color-black: #141414;
    --color-footer: #858585;
    scroll-behavior: smooth;
    font-family: Asap, sans-serif;
}

img {
    display: block;
    width: 100%;
}